---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import myImage from "../assets/emdr-europe.png";
---

<Layout
    title="EMDR"
    metaDescription="EMDR est l’acronyme de Eye Movement Desentization and Reprocessing, en français désensibilisation et retraitement par le mouvement des yeux."
>
  <main
    class="container mx-auto grid grid-cols-1 gap-10 py-10 md:grid-cols-12"
    id="maincontent"
  >
    <div class="col-span-7">
      <header class="c-page-section">
        <h1 class="c-page-h1 mb-5 text-2xl md:text-3xl">EMDR</h1>
        <p class="mb-5">
          EMDR est l’acronyme de “Eye Movement Desentization and Reprocessing”,
          en français “désensibilisation et retraitement par le mouvement des
          yeux”.
        </p>
        <p class="mb-5">
          L’appellation EMDR a été conservée même si la méthode ne se limite
          plus désormais à l’utilisation des mouvements oculaires.
        </p>
        <p class="mb-5">
          L’efficacité de l’EMDR a été scientifiquement prouvée depuis 1989 par
          de nombreuses études contrôlées. Depuis 2013 l’Organisation Mondiale
          de la Santé la préconise pour le traitement des troubles
          psychotraumatiques chez l’enfant et l’adulte.
        </p>
        <p class="mb-5">
          Le protocole de la thérapie EMDR repose sur un ensemble de principes
          qui sont essentiels à une approche humaniste et intégrative de la
          médecine et de la santé; la confiance dans la capacité d’auto-guérison
          propre à chacun, l’importance de l’histoire personnelle, une approche
          centrée sur la personne, un pouvoir restauré, l’importance du lien
          corps-esprit, un bien être et une amélioration des performances.
        </p>
      </header>

      <hr class="c-hr" />

      <section class="c-page-section">
        <h2 class="c-page-h2">Dans quels cas avoir recours à l'EMDR&nbsp;?</h2>
        <p class="mb-5">
          Si la thérapie EMDR a souvent été pratiquée avec les personnes ayant
          connu de grands traumatismes, tels que la guerre, des abus sexuels,
          des attentats...elle est tout aussi efficace dans le traitement des
          traumatismes avec un petit “t”, c’est-à-dire une succession
          d’évènements de vie difficiles, comme par exemple des humiliations
          étant enfant, des expériences de rejet et d’abandon répétées.
        </p>
        <p class="mb-5">
          Ainsi, toutes expériences de vie passées qui ont encore aujourd’hui un
          impact néfaste dans la vie de la personne et qui génèrent des
          connaissances négatives sur soi et sur le monde peuvent être traitées
          par l’EMDR.
        </p>
        <ul class="list-disc *:ml-4 *:mb-2">
          <li>violences psychologiques et physiques</li>
          <li>abus sexuel</li>
          <li>accidents</li>
          <li>deuil</li>
          <li>maladies graves</li>
          <li>douleurs chroniques</li>
          <li>enfance perturbée</li>
          <li>séparations</li>
          <li>fausses couches et IVG</li>
          <li>difficultés professionnelles</li>
          <li>etc.</li>
        </ul>
      </section>

      <section class="c-page-section">
        <h2 class="c-page-h2">Qu'est-ce que le traumatisme psychologique ?</h2>
        <ul class="list-disc *:ml-4 *:mb-2">
          <li>
            Un traumatisme est une empreinte laissée dans le psychisme par un
            événement vécu comme douloureux par la personne, porteur d'une
            charge émotionnelle négative.
          </li>
          <li>
            Il peut s'agir de traumatismes « évidents », avec un grand « T »,
            tels les violences physiques et psychologiques, les abus sexuels,
            les accidents graves, les décès, les maladies graves, les incendies,
            les catastrophes naturelles, les situations de guerre et attentats,
            ...
          </li>
          <li>
            Mais il peut s'agir aussi d'événements de vie difficiles ou de
            traumatismes avec un petit « t », qui passent inaperçus et peuvent
            être la source d'émotions ou de comportements inadaptés ou excessifs
            dans la vie quotidienne (enfance perturbée, séparations, fausses
            couches et IVG, deuils, difficultés professionnelles, déménagement,
            etc.)
          </li>
          <li>
            Ces perturbations émotionnelles appelées état de stress
            post-traumatique s'expriment sous diverses formes : irritabilité,
            angoisse, cauchemars, tendance à l'isolement, état dépressif,
            comportement agité voire violent, douleurs physiques, somatisations,
            régression chez l'enfant, ... D'autres troubles psychologiques
            relèvent aussi, dans certains cas, de traumatismes récents ou
            anciens, parfois non conscients : dépression, addictions, troubles
            du comportement alimentaire, attaques de panique, phobies, troubles
            de l'attachement, ...
          </li>
          <li>
            Ces perturbations apparaissent quand notre cerveau est dépassé par
            un choc ou plusieurs chocs traumatiques et n'arrive pas à traiter
            (ou digérer) les informations comme il le fait ordinairement. Il
            reste bloqué sur le ou les évènements, sans que nous en ayons
            conscience, et ce sont les vécus traumatiques non digérés qui sont
            sources de ces perturbations.
          </li>
        </ul>
        <p class="text-right mb-5 italic">
          Source
          <a
            href="http://www.emdr-france.org/"
            target="_blank"
            >EMDR France</a
          >
        </p>
      </section>

      <section class="c-page-section">
        <h2 class="c-page-h2">Douleurs Chroniques et EMDR</h2>
        <p class="mb-5">
          La douleur chronique peut réduire considérablement la qualité de vie,
          engendrant dépression, anxiété et troubles du sommeil.
        </p>
        <p class="mb-5">
          On retrouve souvent chez les patients douloureux chroniques une
          expérience traumatisante. Cette expérience peut remonter à l'enfance
          mais aussi à une époque plus récente. Ainsi le souvenir d'un accident
          de la route (qui a provoqué un traumatisme physique) peut être revécu
          comme un événement négatif. L'annonce d'une maladie ou du résultat
          d'un examen peut agir de la même manière. Il arrive parfois qu'un
          patient garde la souvenir d'une phrase prononcée par un soignant et
          qui reste comme une souffrance. Ceci participe à entretenir la douleur
          en agissant sur la matrice douloureuse. En améliorant le souvenir
          (émotions/pensées) il est possible d'améliorer les sensations
          douloureuses corporelles.
        </p>

        <p class="mb-5 italic text-right">Source : Dr Ph.Rault, praticien EMDR</p>
      </section>
    </div>
    <aside class="col-span-4">
      <Image
        src={myImage}
        alt="emdr europe logo"
        class="mx-auto w-full"
      />
    </aside>
  </main>
</Layout>
