---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import myImage from "../assets/consultation-enfant.jpeg";
---

<Layout
    title="Mentions légales"
    metaDescription="Mentions légales du site de Audrey Larcebau, psychologue et psychothérapeute à Anglet."
>
  <main
    class="container gap-10 py-10"
    id="maincontent"
    tabindex="-1"
  >
    <div class="main-section">
      <h1 class="mb-5 text-2xl">Mentions légales</h1>
      <p>Conformément :</p>
      <ul>
        <li>
          à la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie
          numérique : art. 6-III et art. 19
        </li>
        <li>
          à la Loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux
          fichiers et aux libertés : art. 22 et art. 32
        </li>
        <li>au Code de la consommation : art. L. 111-2 + L. 121-18</li>
        <li>au Code général des impôts : art. 286 ter</li>
        <li>
          à la Loi n° 82-652 du 29 juillet 1982 sur la communication
          audiovisuelle : art. 93-2
        </li>
      </ul>
      <h2 class="mb-5 mt-8 text-xl">Identification du site :</h2>
      <ul>
        <li>URL du site: https://psy-emdr-cotebasque.fr/</li>
      </ul>
      <h2 class="mb-5 mt-8 text-xl">Identité du propriétaire du site</h2>
      <ul>
        <li>Le présent site internet est la propriété de Audrey Larcebau</li>
        <li>
          Raison sociale : activité libérale sous le régime de l'entreprise
          individuelle
        </li>
        <li>
          Adresse du siège social : 4Bis Avenue de la Butte aux cailles Espace
          Maharin bât A Anglet
        </li>
        <li>Téléphone : 06 03 71 50 09</li>
      </ul>
      <h2 class="mb-5 mt-8 text-xl">Publication du site</h2>
      <ul>
        <li>Directeur de la publication : Audrey Larcebau</li>
        <li>Responsable de la rédaction : Audrey Larcebau</li>
        <li>Webmaster : Nicolas Devaux</li>
      </ul>
      <h2 class="mb-5 mt-8 text-xl">Concepteur du site</h2>
      <ul>
        <li>Site réalisé par Nicolas Devaux</li>
        <li>Siège social : 63, rue Houdan, 92290 SCEAUX</li>
        <li>Contact :</li>
      </ul>
      <h2 class="mb-5 mt-8 text-xl">Hébergeur du site</h2>
      <p>
        PlanetHoster, 4416 Louis B. Mayer Laval (Grand Montréal), Quebec H7P
        0G1, Canada
      </p>
      <p>Tel : CA: +1 855 774 4678</p>

      <h2 class="mb-5 mt-8 text-xl">Mentions règlementaires</h2>
      <p>
        La profession de psychologue est réglementée et son exercice est soumis
        à inscription sur les listes départementales des professionnels de
        l'Agence Régionale de Santé.
      </p>
      <p>
        En outre, Audrey Larcebau est titulaire d’une licence mention "
        psychologie " et d’un master mention " psychologie " comprenant un
        mémoire de recherche et un stage professionnel qui l'autorise à faire
        usage du titre de psychologue et psychothérapeute (voir les textes
        officiels).
      </p>
    </div>
  </main>
</Layout>
